.App {
  text-align: center;
}

.riwayat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-content: left;
  align-items: left;
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 40rem;
  padding-left: 10px;
}

.item {
  border: 1px solid #ffebee;
}

.item_id {
  
  margin-right: 20px;
}

.item_tanggal {
  
  margin-right: 20px;
}

.item_pengguna {
  margin-right: 20px;
}

.item_penyakit {
  margin-right: 20px;
}

.search {
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
